{% extends 'layout/base.html' %}

{% block body %}
<!-- (.container>.row>.col-md-4)-->


<div class="container" textcol<a class="btn btn-outline-primary" href="#" > </a>>
    Reach us at email / phone  or fill the details the team will coordinate with you
</div>
    
<section class="mb-4">

 <div class="container">
    <div class="row form-row">
         <div class="col-md-4">
            <h2 class="my-4 text-primary font-weight-bold text-center " style="background-color:rgb(253, 135, 135);" style="font-family:verdana;">Contact us</h2>
            
            <p class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within
      a matter of hours to help you.</p>

             <div class="row">
    <!-- "h1-responsive font-weight-bold text-center text-primary my-4" -->
      
                <div class="col-md-9 mb-md-0 mb-5">
                    <form id="contact-form" name="contact-form" method="POST">

             
                         <div class="row">

                  
                            <div class="col-md-6">
                                <div class="md-form mb-0">
                                    <input type="text" id="name" name="name" class="form-control">
                                    <label for="name" class="">Your name</label>
                                </div>
                            </div>
                  

                  
                            <div class="col-md-6">
                                <div class="md-form mb-0">
                                    <input type="text" id="email" name="email" class="form-control">
                                    <label for="email" class="">Your email</label>
                                </div>
                            </div>
                  

                        </div>
              

              
                        <div class="row">
                            <div class="col-md-12">
                                <div class="md-form mb-0">
                                    <input type="text" id="subject" name="subject" class="form-control">
                                    <label for="subject" class="">Subject</label>
                                </div>
                            </div>
                        </div>
              

              
                        <div class="row">

                  
                            <div class="col-md-12">

                                <div class="md-form">
                                    <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea>
                                    <label for="message">Your message</label>
                                </div>

                  </div>
                        </div>
              

                   </form>

          <div class="text-center text-md-left">
              <a class="btn btn-primary" onclick="document.getElementById('contact-form').submit();">Send</a>
          </div>
          <div class="status">Thank You For Contacting Us</div>
      </div>
      

      
      <div class="col-md-3 text-center">
          <ul class="list-unstyled mb-0">
              <li><i class="fas fa-map-marker-alt fa-2x"></i>
                  <p>Cyber Heights Buildings,3/f-42,Lucknow,INDIA</p>
              </li>

              <li><i class="fas fa-phone mt-4 fa-2x"></i>
                  <p>+ 9651299283</p>
              </li>

              <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                  <p>Swarsomtunesmith@gmail.com</p>
              </li>
          </ul>
      </div>
      

  </div>

</section>

{% endblock %}

{% block css %}
<style>
    .form-row {
        
        display: flex;
        height: 90vh;
        justify-content: center;
        align-items: center;
    }

    main {
        background-color: rgb(42, 165, 132);
        background-image: url('https://images.unsplash.com/photo-1524678606370-a47ad25cb82a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869&q=80');
        background-size: auto;
        background-repeat: no-repeat;
        background-position: bottom;

    }
</style>
{% endblock %}
