<!-- error bad request -->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>400</h1>
                <h2>Bad request</h2>
                <p>The request cannot be fulfilled due to bad syntax.</p>
                <a href="/">Go to homepage</a>
            </div>
        </div>
    </div>
</body>
</html>
